body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 18px;
}
#slice{
    border-left: 7px solid;
    border-image: linear-gradient(#FF5959, #f86b6b);
    border-image-slice: 1;
}
span{
    color: orange;
}
a{
    text-decoration: none;
    background-color: tomato;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
}
.flex-box{
        display: flex;
        margin-left: 200px;
        margin-right: 200px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.stay-f{
    margin-top: 200px;
    margin-right: 100px;
}
.top-img-margin{
    margin-left: 100px;
    margin-right: 100px;

}
coding-img{
    margin-right: 200px;
}
.development{
    margin-left: 100px;
}
.section-mg{
    margin-bottom: 100px;
}
.center-heading{
    text-align: center;
}
.illustrators-img{
    width: 30%;
}
.i-one{
    background-image: linear-gradient(#cfe5e9, #d5edf0);
    padding: 20px;
    border-radius: 40px;
    margin: 10px;
}
.i-two{
    background-image: linear-gradient(#fadede, #f5e6e6);
    padding: 20px;
    border-radius: 40px;
    margin: 10px;
}
.i-three{
    background-image: linear-gradient(#FFF4D6, #f7eed8);
    padding: 20px;
    border-radius: 40px;
    margin: 10px;
}
#coding-bg{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40%;
}
.know-our{
    margin-right: 100px;
}
.poject-img{
    margin-left: 100px;
}
#footer-x{
    color: rgb(255, 255, 255);
}
#footer-y{
    color: tomato;
}
#footer-bg{
    text-align: center;
    background-color: black;
}
footer{
    padding: 5px;
}